---
import Metadata from "./Metadata.astro";
import Search from "./Search.astro";
import GameList from '../games.json' // test
---

<!-- You're welcome for the clusterfuck :) -->

  <style scoped>

    #container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    

  </style>
  <div id="container">
    {GameList.map((game) => (
          <div id={game.id} class="element">

            <style scoped>
              img {
                width: 275px;
                height: 135px;
                object-fit: cover;
                border-top-right-radius: 25px;
                border-top-left-radius: 25px;
              }

              .content {
                background: rgba(17, 17, 17, 0) linear-gradient(to bottom, rgba(17, 17, 17, 0) 10%, rgba(17, 17, 17, .1) 30%, rgba(17, 17, 17, .5) 60%, rgba(17, 17, 17, 1) 100%) repeat scroll 0 0;
                position: relative;
                margin-top: -50px;
                height: 50px;
              }

              .play {
                width: 275px;
                height: 85px;
                border-bottom-right-radius: 25px;
                border-bottom-left-radius: 25px;
                bottom: 0;
                margin: 0 auto;
                position: absolute;
              }

              .playbutton {
                width: 150px;
                height: 50px;
                border: 1px solid #333;
                margin-left: auto;
                margin-right: auto;
                border-radius: 15px;
                background-color: var(--settings-2);
                transition: 0.3s;
              }

              .playbutton:hover {
                width: 175px;
                transition: 0.3s;
              }

              .playtext {
                text-align: center;
                font-weight: bold;
                color: var(--font-color);
                font-size: 18px;
                padding-top: 10px;
              }

              .element {
                border: 1px solid var(--settings-3);
                float: left;
                height: 385px;
                width: 275px;
                color: var(--font-color);
                background-color: var(--settings-1);
                border-radius: 25px;
                margin: 10px;
                position: relative;
              }

              h2 {
                font-weight: bold;
                font-size: 20px;
                padding-right: 10px;
                padding-left: 10px;
                border-bottom: 1px solid var(--settings-3); 
                line-height: 0.1em;
              }

              h2 span { 
                background:var(--settings-1); 
                padding:0 10px;
                
              }

              p {
                padding-right: 10px;
                padding-left: 10px;
                font-size: 13px;
                color: var(--nav-btn-color-darker);
              }
            </style>

            
            <img src={game.image} alt={game.title} />
            <div class="content"></div>
            <br>
            <h2><span>{game.title}</span></h2>
            <br>
            <p>{game.description}</p>
            <div class="play">
              <a href={'/games/' + game.id}>
                <div class="playbutton">
                  <p class="playtext">Play</p>
                </div>
              </a>
            </div>
            
        </div>
    ))}
  </div>
