---
import Metadata from "./Metadata.astro";
import Search from "./Search.astro";
import GameList from './json/games.json' // test
---


<div>
    {GameList.map((game) => (
      <div id={game.id}>
        <h2>{game.title}</h2>
        <img src={game.image} alt={game.title} />
        <p>{game.description}</p>
        <a href={game.file}>Play Now</a>
      </div>
    ))}
</div>