---
import './tabs.css';
---

<div class="tabs">
    <div class="tabs-btn" id="tabs-btn">
        <div class="arrow arrow-1"></div>
        <br />
        <div class="arrow arrow-2"></div>
    </div>

    <div class="tabs-list" id="tabs-list">
        
    </div>

    <script type="module">
        let list = document.getElementById('tabs-list'),
            btn = document.getElementById('tabs-btn'),
            tl = document.querySelector('.header .top-left'),
            nb = document.querySelector('.header .nav-btns'),
            open = false,
            offset = 220;

        list.style.width = `${offset}px`;

        btn.addEventListener('click', function() {
            document.querySelectorAll('.arrow').forEach(e=>e.classList.toggle('arrow-open'));

            if (!open) {
                requestAnimationFrame(() => {
                    list.style.left = `${offset}px`;
                    btn.style.left = `${offset}px`;
                    tl.style.paddingLeft = `${offset}px`;
                    nb.style.marginLeft = `${offset}px`;
                });
                open = true;
            } else {
                requestAnimationFrame(() => {
                    list.style.left = "";
                    btn.style.left = "";
                    tl.style.paddingLeft = "";
                    nb.style.marginLeft = "";
                });
                open = false;
            }
        });

        var data = [{href: 'https://www.google.com/', title: 'Google', picture: '/tab-filler.png'}, {href: 'https://discord.com/', title: 'Discord', picture: '/tab-filler.png'}];

        list.innerHTML = data.map(({ href, title, picture }) => `<div class="tabs-tab"><img class="tab-picture" src="${picture}" alt="Picture of ${title}" /><div class="tab-info"><span class="tab-close">x</span><h1 class="tab-title">${title}</h1><h2 class="tab-link">${href}</h2></div>`).join('</div>\n');
    </script>
</div>